/**
 * MENU DE RESTAURANT
 * Nom de l'étudiant : [Votre nom]
 * Date : [Date]

   Instructions complètes ici: https://tim-montmorency.com/compendium/582-211-web2/exercices/cours3-menu-resto/index.html
 */

/* ========================================
   RÉINITIALISATION DE BASE
   ======================================== */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Miltonian', sans-serif; /* Changez pour votre choix de police de caractères de Google Fonts*/
    font-size: 1rem;
    line-height: 1.6;
    color: #ff0000; /* Ajutez avec votre couleur de texte principale */
    background-color: #6e0fbd; /* Ajoutez avec votre couleur de fond principale */
}

/* ========================================
   VOTRE CODE CSS ICI
   ======================================== */

main {
  max-width: 800px;
  margin: 0 auto;
  padding: 40px;
  background-color: rgb(16, 86, 29);
  margin-bottom: 30px;
  border-radius: 20px;
  border: solid 10px #c4df18;
}

header {
  font-size: 4rem;
  text-align: center;
}
 
.item-title {
font-weight: bold;
text-align: center;
max-width: 50vw;
margin: 0 auto;
color: #c4df18;
}

.item-title:hover {
color: #ff0000;
}

.price {
  float: right;
  color: aqua;
}

h2 {
  font-size: 3rem;
  background-color: aqua;
  display: inline-block;
  padding: 4px;
  border-radius: 20px;
  box-shadow: 0 0 25px #c4df18;
}

ul {
  padding: 0;
  list-style: none;
  
}

li {
  margin-bottom: 10px;
  margin-top: 10px;
}

.badge {
   background-color: rgb(0, 0, 0);
  display: inline-block;
  padding: 2px;
  border-radius: 20px;
  box-shadow: 0 0 25px #c4df18;
  font-size: 0.7em;
}